<div class="joint-sliders-container">
<div class="pull-left joint-slider-container">
  <span class="joint-label">SH</span>
  <span class="joint-value" id="joint0-value" type="text" disabled="true">0</span>
  <div id="joint-slider0" class="slider joint-slider" data-joint="0"></div>
</div>

<div class="pull-left joint-slider-container">
  <span class="joint-label">EL1</span>
  <span class="joint-value" id="joint1-value" type="text" disabled="true">0</span>
  <div id="joint-slider1" class="slider joint-slider" data-joint="1"></div>
</div>

<div class="pull-left joint-slider-container">
  <span class="joint-label">EL2</span>
  <span class="joint-value" id="joint2-value" type="text" disabled="true">0</span>
  <div id="joint-slider2" class="slider joint-slider" data-joint="2"></div>
</div>

<div class="pull-left joint-slider-container">
  <span class="joint-label">Wrist</span>
  <span class="joint-value" id="joint3-value" type="text" disabled="true">0</span>
  <div id="joint-slider3" class="slider joint-slider" data-joint="3"></div>
</div>

<div class="clear"></div>

</div>
