<div class="black-box tex">
  <div class="tab-header">
    Robotic Arm
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="padded arm-joint-control pull-left">
        <button id="arm-execute-motion" class="btn btn-primary pull-left">Execute Motion</button>
        <div class="clear"></div>
        <div class="pull-left joint-slider-container">
          Sh.<br />
          <span id="joint0-value" type="text" style="width:37px;" disabled="true">0</span>
          <div id="joint-slider0" class="slider joint-slider" data-joint="0"></div>
        </div>
        <div class="pull-left joint-slider-container">
          El. 1<br />
          <span id="joint1-value" type="text" style="width:37px;" disabled="true">0</span>
          <div id="joint-slider1" class="slider joint-slider" data-joint="1"></div>
        </div>
        <div class="pull-left joint-slider-container">
          El. 2<br />
          <span id="joint2-value" type="text" style="width:37px;" disabled="true">0</span>
          <div id="joint-slider2" class="slider joint-slider" data-joint="2"></div>
        </div>
      </div>
      <div class="pull-left">
        <div id="arm-portrait" class="pull-left"></div>
      </div>
    </div>
  </div>
</div>
