<div class="black-box tex">
  <div class="tab-header">
    Robotic Arm
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="padded arm-joint-control pull-left">
        <button id="arm-open-gripper" class="btn btn-primary pull-left">OPEN Gripper</button>
        <button id="arm-stop-gripper" class="btn btn-primary pull-left">STOP Gripper</button><br />
        <button id="arm-close-gripper" class="btn btn-primary pull-left">CLOSE Gripper</button>
        <button id="arm-execute-motion" class="btn btn-primary pull-left">Execute Motion</button>
        <div class="clear"></div>
        <div class="pull-left joint-slider-container">
          Sh.<br />
          <span id="joint0-value" type="text" style="width:37px;" disabled="true">0</span>
          <div id="joint-slider0" class="slider joint-slider" data-joint="0"></div>
        </div>
        <div class="pull-left joint-slider-container">
          El. 1<br />
          <span id="joint1-value" type="text" style="width:37px;" disabled="true">0</span>
          <div id="joint-slider1" class="slider joint-slider" data-joint="1"></div>
        </div>
        <div class="pull-left joint-slider-container">
          El. 2<br />
          <span id="joint2-value" type="text" style="width:37px;" disabled="true">0</span>
          <div id="joint-slider2" class="slider joint-slider" data-joint="2"></div>
        </div>
        <div class="pull-left joint-slider-container">
          Wrist<br />
          <span id="joint3-value" type="text" style="width:37px;" disabled="true">0</span>
          <div id="joint-slider3" class="slider joint-slider" data-joint="3"></div>
        </div>
      </div>
      <div class="pull-left" style="width: 500px; height: 500px;">
        <div id="arm-portrait"></div>
        <!--<div id="arm-portrait-overlay" style="width: 800px; height: 500px; position:absolute; top: 0; left:0; z-index: 9999"></div> -->
      </div>
    </div>
    <div class="span3">
      <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="1" style="display: none;overflow:hidden;width:400px;height:640px;-webkit-transform: rotate(-90deg)">
        <video autoplay>
          <source type="video/flash" src="http://128.217.243.52:8090/test1.flv?date=<%= Time.new.gmtime.strftime("%H:%M:%S") %>Z"/>
        </video>
      </div>
    </div>
    <div class="span3">
      <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="1" style="overflow:hidden;width:400px;height:640px;-webkit-transform: rotate(-90deg);">
        <video autoplay>
          <source type="video/flash" src="http://http://128.217.243.52/:8090/test3.flv?date=<%= Time.new.gmtime.strftime("%H:%M:%S") %>Z"/>
        </video>
      </div>
    </div>
  </div>
</div>
