<div class="black-box tex">
  <div class="tab-header">
    Robotic Arm
  </div>
  <div id="arm-portrait">
   
  </div>
  <button onclick="javascript:default_pose();">Default Pose</button>
  <button onclick="javascript:pose1();">Pose1</button>
  <button onclick="javascript:pose2();">Pose2</button>
  <button onclick="javascript:pose3();">Pose3</button>
  <button onclick="javascript:pose4();">Pose4</button>
  <button onclick="javascript:lie_down();">Lie Down</button>
</div>
