<div class="span4">
  <div class="black-box">
    <div class="tab-header">LED Array Levels</div>
    <div class="padded">
    <% 5.times do |i| %>
      <div class="led-array-container">
        <b>Array <%= i+1 %> </b>
        <span class="pull-right value"></span><br />
        <div id="light-slider-<%= i %>" data-led-index="<%= i %>" class="slider led-slider"></div>
        <table width="100%" class="led-levels">
          <tr>
            <td width="31%">Off</td>
            <td width="33%" align="left">1/3</td>
            <td align="left">2/3</td>
            <td align="right">Full</td>
          </tr>
        </table>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="span4">
  <div class="black-box">
    <div class="tab-header">Light/Plant Position</div>
    <div class="padded">
      <div id="raphael-lights-overhead"></div>
      <button id="rotate-pots-clockwise" class="btn btn-small">Rotate CW</button>
      <button id="rotate-pots-counterclockwise" class="btn btn-small">Rotate CCW</button>
    </div>
  </div>
</div>

<div class="span4">
</div>
