<div style="width:50%;float:left;margin-right: 5px;border-right: 1px solid #ccc;">
  <button id="rotate-table-cw" class="btn btn-small btn-primary" style="width: 95%;">2&deg; CW</button>
  <button id="rotate-table-ccw" class="btn btn-small btn-primary" style="width: 95%">2&deg; CCW</button>
</div>

<div style="width:47%; float: left;">
  <input type="text" name="rotate-table-user-amount" style="width: 100%; height: 26px; margin:0 0 5px 0;" placeholder="# of deg."/>
  <button id="rotate-table" class="btn btn-small btn-primary" style="width: 100%">Rotate</button>
</div>

<div class="clear"></div>
