<div class="tab-header">Pump & Valves</div>
      <div class="padded">
        <div class="inner-well">
          <span style="line-height:26px;width:40%;display:inline;">Pump</span>
          <div class="btn-toolbar" style="margin:0;padding:0;width:60%;display:inline-block;float:right;">
            <div class="btn-group" style="margin-top:0;width:100%;">
              <button class="btn btn-small btn-primary" style="margin:0;width:50%;">On</button>
              <button class="btn btn-small btn-danger" style="margin:0;width:50%;">Off</button>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="inner-well">
          <span style="line-height:26px;width:40%;display:inline;">Main Valve</span>
          <div class="btn-toolbar" style="margin:0 0 2px 0;padding:0;width:60%;display:inline-block;float:right;">
            <div class="btn-group" style="margin-top:0;width:100%;">
              <button class="btn btn-small btn-primary" style="margin:0;width:50%;">Open</button>
              <button class="btn btn-small btn-danger" style="margin:0;width:50%;">Close</button>
            </div>
          </div>
          <div class="clear"></div>
          <div class="separator"></div>
          <span style="line-height:18px;width:40%;display:inline;">Pressure</span>
          <span style="line-height:18px;" class="pull-right">100</span>
        </div>
        <div class="inner-well">
          <span style="line-height:26px;width:40%;display:inline;">Flush Valve</span>
          <div class="btn-toolbar" style="margin:0;padding:0;width:60%;display:inline-block;float:right;">
            <div class="btn-group" style="margin:0 0 2px 0;width:100%;">
              <button class="btn btn-small btn-primary" style="margin:0;width:50%;">Open</button>
              <button class="btn btn-small btn-danger" style="margin:0;width:50%;">Close</button>
            </div>
          </div>
          <div class="clear"></div>
          <div class="separator"></div>
          <span style="line-height:18px;width:40%;display:inline;">Pressure</span>
          <span style="line-height:18px;" class="pull-right">100</span>
        </div>
      </div>

