<button id="rotate-plant-cw" class="btn btn-small btn-primary" style="width: 100%;">90&deg; Clockwise</button>
<button id="rotate-plant-ccw" class="btn btn-small btn-primary" style="width: 100%;">90&deg; Counter-clockwise</button>
