<table class="table table-striped table-bordered box">
  <thead>
  <tr>
    <th colspan="2">Table title</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Webhosting:</td>
    <td><strong>VPS Server 1</strong></td>
  </tr>
  <tr>
    <td>Available space:</td>
    <td>239/1000 GB used</td>
  </tr>
  <tr>
    <td>MySQL databases:</td>
    <td class="red">5/5 used</td>
  </tr>
  <tr>
    <td>Email accounts:</td>
    <td class="red">25/25 used</td>
  </tr>
  <tr>
    <td>Ruby version:</td>
    <td>1.9.3</td>
  </tr>
  <tr>
    <td>Rails version:</td>
    <td>3.0.1</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2">
      <div class="clearfix" style="padding: 0 5px;">
        <div class="pull-left">
          <a href="#" class="button blue">Buy now!</a>
          <a href="#" class="button">Cancel subscription</a>
        </div>
      </div>
    </td>
  </tr>
  </tfoot>
</table>
