<div class="black-box">
  <div class="padded">
    <p style="line-height:14px;padding-bottom:0;margin-bottom:0;">
      Today On: <b>8:00AM</b> | Today Off: <b>9:00PM</b> | Today Length: <b>13 hrs.</b>
      <br />Tomorrow On: <b>7:00AM</b> | Tomorrow Off: <b>9:00PM</b> | Tomorrow Length: <b>14 hrs.</b>
    </p>
  </div>
</div>
