<div class="black-box">
  <div class="padded">
    <p style="line-height:14px;">Tomorrow On: <b>7:00AM</b> | Tomorrow Off: <b>9:00PM</b><br />
       Tomorrow Length: <b>14 hrs.</b>
    </p>
  </div>
</div>
