<div id="soil-sensor-arm" style=float:left;"></div>
<div style="position:absolute; right:4px;">
  <table>
    <tr>
      <td style="vertical-align:top;">
        <a id="probe-insert" style="display:inline-block;margin-left:4px;" class="watering-control btn btn-small btn-primary" href="#"><i style="color:#ccffcc;" class="icon-ok-circle"></i>  Insert</a>
        <div class="clear"></div>
        <a id="probe-remove" class="watering-control btn btn-small btn-primary" href="#"><i style="color:red;" class="icon-remove-circle icon-red"></i>  Remove</a> 
        <div class="clear"></div>
        <br />
        <div style="margin-left:20px;">
          <b>Soil Moisture</b><br />
          <span style="font-size:14px;background:#3333ff;display:inline-block;padding:3px;"><span id="moisture">25</span><span style="font-size:10px;">% +/- 1%</span></span>
        </div>
      </td>
      <td style="vertical-align:top;">
        <a id="dripper-extend" style="display:inline-block;margin-left:4px;" class="watering-control btn btn-small btn-primary" href="#"><i style="color:#ccffcc;font-size:16px;" class="icon-ok-circle"></i>  Extend</a>
        <div class="clear"></div>
        <a id="dripper-retract" class="watering-control btn btn-small btn-primary" href="#"><i style="color:red;" class="icon-remove-circle icon-red"></i>  Retract</a> 
        <div class="clear"></div>
        <br />
        <div style="margin-left:0px;">
          <b>Last H2O Added:</b> <span id="water-time-added">4:53PM</span>
          <br />
          <input type="text" class="input input-small" name="water-amount" placeholder="seconds" style="width:90px;height:20px;"/>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button id="add-water" class="btn btn-small btn-primary" style="font-size:14px;font-weight:bold;width:100%">Add water</button>
      </td>
    </tr>
  </table>
  <span class="moisture-reading">
</div>
<div class="clear">
</div>

