<li class="<%= nav_active(secondary: "stats") %>">
  <% link_to "/pages/dashboard/stats.html", relative: true do %>
      <i class="icon-dashboard"></i> Stats
  <% end %>
</li>

<li>
  <a href="#" id="modal-link">
    <i class="icon-random"></i> Open Modal
  </a>
</li>

<li id="notification-full-image">
  <a href="#">
    <i class="icon-list-alt"></i> Notification #1
  </a>
</li>

<li id="notification-small-image">
  <a href="#">
    <i class="icon-table"></i> Notification #2
  </a>
</li>