<li class="<%= nav_active(secondary: "widgets") %>">
  <% link_to "/pages/widgets/widgets.html", relative: true do %>
      <i class="icon-plus-sign"></i> Widgets
  <% end %>
</li>

<li class="<%= nav_active(secondary: "fullcalendar") %>">
  <% link_to "/pages/widgets/fullcalendar.html", relative: true do %>
      <i class="icon-calendar"></i> Full calendar
  <% end %>
</li>

<li class="<%= nav_active(secondary: "faq") %>">
  <% link_to "/pages/widgets/faq.html", relative: true do %>
      <i class="icon-question-sign"></i> FAQ page
  <% end %>
</li>

<li class="<%= nav_active(secondary: "gallery") %>">
  <% link_to "/pages/widgets/gallery.html", relative: true do %>
      <i class="icon-picture"></i> Gallery
  <% end %>
</li>