<div style="margin-bottom: 20px;">

  <div class="big-button-bar">
    <a class="button large" href="#">
      <i class="icon-bookmark"></i>
      <span>Bookmarks</span>
    </a>

    <a class="button large" href="#">
      <i class="icon-signal"></i>
      <span>Reports</span>
    </a>

    <a class="button large" href="#">
      <i class="icon-comments"></i>
      <span>Comments</span>
    </a>

    <a class="button large" href="#">
      <i class="icon-user"></i>
      <span>Users</span>
    </a>

    <a class="button large" href="#">
      <i class="icon-picture"></i>
      <span>Photos</span>
    </a>

    <a class="button large" href="#">
      <i class="icon-tags"></i>
      <span>Tags</span>
    </a>
  </div>

</div>
