#arm-execute-motion {
  width: 97%;
  box-sizing: border-box;

}
.joint-sliders-container {
  margin: 8px 0 -8px 20px;
  height: 340px;
  box-sizing: border-box;
  .ui-slider-vertical {
    height: 280px;
  } 
}
.joint-slider-container {
  margin: 0 28px 8px 8px;
  padding: 0;
  background: #778800;
  border-radius: 3px;
  width: 25px;
}
.joint-slider {
  width: 9px;
}
.joint-slider.ui-slider {
  margin:4px 0px 6px 8px;
}
.arm-joint-control .ui-slider-vertical {
  height: 300px;
}
span.joint-label {
  background: #ccdd00;
  color: #000;
  display: block;
  width: 100%;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
span.joint-value {
  display: block;
  background: #889900;
  text-align:center;
}
div.arm-joint-control {
  position: absolute;
  z-index:99999;
}
div#arm-portrait {
  width: 100%;
  height: 340px;
  z-index: 999;
  background: #999;
}
.ui-motion .flowplayer object {
  width: 400px;
  height: 640px;
}
#main {
  position: relative;
}
