#arm-execute-motion {
  margin-bottom: 10px;
}
.joint-slider-container {
  margin-right: 15px;
}
.arm-joint-control .ui-slider-vertical {
  height: 300px;
}
div#arm-portrait {
  width: 400px;
  height: 500px;
}
.ui-motion .flowplayer object {
  width: 400px;
  height: 640px;
}
