h4 {
  color: #fff;
}

.session {
  position: absolute;
  right: 0px;
  top: 11px;
  font-size: 10px;
  color: #fff;
}

.ui-context {
  display: none;
}

.led-array-container {
  padding-bottom: 8px;
}

table.led-levels td {
  font-size: 10px;
}

.led-slider.ui-slider,
.joint-slider.ui-slider {
  margin: 6px;
  box-sizing: border-box;
  background: #000;
  .ui-slider-range {
    background: #000;
    &.led-power-0 {
      background: #000;
    }
    &.led-power-1 {
      background: #555;
    }
    &.led-power-2 {
      background: #999;
    }
    &.led-power-3 {
      background: #fff;
    }
  }
  .ui-slider-handle {
    cursor: pointer;
  }
}

.chart-fluid {
  width: 100%;
  height: 170px;
}

span.sensor-value {
  font-size: 16px;
  font-weight: bold;
}
