#main {
  font-size: 10px;
  .tab-header {
    font-size: 12px;
    padding-left: 8px;
    height: 26px;
    line-height: 26px;
  }
}

div.clear {
  clear: both;
}

h4 {
  color: #fff;
}

.session {
  position: absolute;
  right: 0px;
  top: 11px;
  font-size: 10px;
  color: #fff;
}

.ui-context {
  display: none;
}

.led-array-container {
  width: 200px;
  padding-bottom: 0px;
}

table.led-levels td {
  font-size: 10px;
}

.led-slider.ui-slider,
.joint-slider.ui-slider {
  box-sizing: border-box;
  background: #000;
  .ui-slider-range {
    background: #000;
    &.led-power-0 {
      background: #000;
    }
    &.led-power-1 {
      background: #555;
    }
    &.led-power-2 {
      background: #999;
    }
    &.led-power-3 {
      background: #fff;
    }
  }
  .ui-slider-handle {
    cursor: pointer;
  }
}

.chart-fluid {
  width: 100%;
  height: 170px;
}

span.sensor-value {
  font-size: 16px;
  font-weight: bold;
}

#main .row-fluid {
  .span1 {
    width: 8.3%;
  }
  .span3 {
    width: 26.07692%;
  }
  .span5 {
    width: 41.1%;
    .span8 {
      width:63.4%;
    }
    .span4 {
      width: 35.2%;
    }
  } 
  .span6 {  
    width: 52.71795%;
  }
  .span8 {
    width: 67.81197%;
  }
}
#main .padded {
  padding: 4px;
}
.black-box {
  margin-bottom: 7px;
}
#main button {
  font-size: 10px;
  .disabled {
    background:#000;
  }
  &.btn-green {
    background: #00ff00;
    color: #000;
  }
}
.row-fluid [class*="span"] {
  margin-left: 0.5641%;
}
#main a.watering-control {
  width: 105px;
  text-align:left;
  display:inline-block;
  margin-bottom:4px;
  font-size: 10px;
  margin-right:4px;
  margin-left:4px;
  i {
    font-size:16px;
    vertical-align:middle;
  }
}
#main .inner-well {
  margin-top: 3px;
  padding: 4px;
}
div.log {
  span.log-date {
    font-style: italic;
    font-size: 9px;
    color: #ddd;
    line-height: 12px;
    display: block;
  }
  p.log-entry {
    line-height: 12px;
    font-size: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
#raphael-lights-overhead {
  position:relative;
  svg {
    margin-left:55px;
  }
}

div#lights {
  #arm {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size:16px;
    color: yellow;
    font-family:'courier';
    font-weight:bold;
  }
  #water {
    position: absolute;
    top: 320px;
    left: 400px;
    font-size: 16px;
    color: #aaaaff;
    font-family: 'courier';
    font-weight:bold;
  }
}

div#whiteout {
  display: none;
  position:fixed;
  top:0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: black url(/assets/150.gif) center center no-repeat;
  opacity: 0.6;
}
